* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

@font-face {
  font-family: 'vf';
  src: url(../fonts/Thunder-BlackLC.ttf);
}

@font-face {
  font-family: 'PPMori-Extralight';
  src: url(../fonts/PPMori-Extralight.otf);
}

@font-face {
  font-family: 'PPMori-ExtralightItalic';
  src: url(../fonts/PPMori-ExtralightItalic.otf);
}

@font-face {
  font-family: 'PPMori-Regular';
  src: url(../fonts/PPMori-Regular.otf);
}

@font-face {
  font-family: 'PPMori-RegularItalic';
  src: url(../fonts/PPMori-RegularItalic.otf);
}

@font-face {
  font-family: 'PPMori-SemiBold';
  src: url(../fonts/PPMori-SemiBold.otf);
}

@font-face {
  font-family: 'PPMori-SemiBoldItalic';
  src: url(../fonts/PPMori-SemiBoldItalic.otf);
}

html {
  font-size: 16px;
}

@media (max-width: 2000px) {
  html {
    font-size: 11px;
  }
}

body {
  background-color: #cecece;
  background-image: url(../img/bg/BG_Blue.jpg);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.work {
  background-image: url(../img/bg/BG_Black.jpg);
}

.load {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.load__item {
  width: 10px;
  height: 80px;
  margin: 20px;
  border-radius: 5px;
  background: #fff;
  -webkit-animation: animate 1.4s linear infinite;
          animation: animate 1.4s linear infinite;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.load__item :nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.load__item :nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.load__item :nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.load__item :nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.load__item :nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.load__item :nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.load__item :nth-child(7) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px) scale(1);
            transform: translateX(-50px) scale(1);
  }
  50% {
    -webkit-box-shadow: 0 0 5px black;
            box-shadow: 0 0 5px black;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px) scale(1);
            transform: translateX(-50px) scale(1);
  }
  50% {
    -webkit-box-shadow: 0 0 5px black;
            box-shadow: 0 0 5px black;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  left: 0;
}

@media (max-width: 1600px) {
  .loading__img {
    left: -100px;
  }
}

@media (max-width: 1500px) {
  .loading__img {
    left: -300px;
  }
}

@media (max-width: 1200px) {
  .loading__img {
    left: -400px;
  }
}

@media (max-width: 1024px) {
  .loading__img {
    left: -165px;
    height: 76%;
  }
}

.main {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second-close {
  margin-top: 180px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 52px;
  color: #fff;
}

.avatar {
  width: 100%;
  height: 100%;
  position: absolute;
}

.avatar__cover {
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  left: -100px;
}

@media (max-width: 1600px) {
  .avatar__cover {
    left: -250px;
  }
}

@media (max-width: 1500px) {
  .avatar__cover {
    left: -300px;
  }
}

@media (max-width: 1200px) {
  .avatar__cover {
    left: -400px;
  }
}

@media (max-width: 1024px) {
  .avatar__cover {
    left: -165px;
    height: 76%;
  }
}

.avatar__cover.active {
  display: block;
}

.menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .menu {
    padding-top: 44px;
    padding-left: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: -1;
  }
}

.menu__item {
  list-style: none;
  width: 1px;
}

.menu__item--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.menu__item--text {
  color: #fff;
  font-size: 238px;
  font-weight: 900;
  font-family: 'vf';
  font-style: normal;
  font-weight: 700;
  position: relative;
  line-height: 170px;
}

.menu__item--text span {
  display: none;
}

@media (max-width: 1300px) {
  .menu__item--text {
    font-size: 200px;
    line-height: 145px;
  }
}

@media (max-width: 1024px) {
  .menu__item--text {
    font-size: 134px;
    line-height: 100px;
  }
}

.glitch {
  text-transform: uppercase;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  -webkit-animation: glitch 725ms infinite;
          animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.glitch span:first-child {
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
          clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  -webkit-transform: translate(-0.04em, -0.03em);
          transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  -webkit-animation: glitch 375ms infinite;
          animation: glitch 375ms infinite;
  -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
          clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  -webkit-transform: translate(0.04em, 0.03em);
          transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
  }
}

.second {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second--title {
  width: 100%;
  z-index: -1;
  position: absolute;
  font-family: 'vf';
  font-size: 350px;
  color: #fff;
  opacity: .5;
  text-align: center;
}

.second.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second__avatar {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  left: -100px;
}

.second__avatar.active {
  left: -300px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.second__avatar--cover {
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  left: 0;
  display: none;
}

.second__avatar--cover.active {
  display: block;
}

@media (max-width: 1600px) {
  .second__avatar--cover {
    left: -100px;
  }
}

@media (max-width: 1500px) {
  .second__avatar--cover {
    left: -300px;
  }
}

@media (max-width: 1200px) {
  .second__avatar--cover {
    left: -400px;
  }
}

@media (max-width: 1024px) {
  .second__avatar--cover {
    left: -165px;
    height: 76%;
  }
}

.second.post-animation-on .list__item {
  -webkit-animation-name: example1;
          animation-name: example1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes example1 {
  0% {
    margin-top: 800px;
  }
  100% {
    margin-top: 50px;
  }
}

@keyframes example1 {
  0% {
    margin-top: 800px;
  }
  100% {
    margin-top: 50px;
  }
}

.second.post-animation-on .list__item:nth-of-type(2) {
  -webkit-animation-name: example2;
          animation-name: example2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes example2 {
  0% {
    margin-top: 800px;
  }
  100% {
    margin-top: 300px;
  }
}

@keyframes example2 {
  0% {
    margin-top: 800px;
  }
  100% {
    margin-top: 300px;
  }
}

.second.post-animation-off .list__item {
  -webkit-animation-name: example3;
          animation-name: example3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes example3 {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 800px;
  }
}

@keyframes example3 {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 800px;
  }
}

.second.post-animation-off .list__item:nth-of-type(2) {
  -webkit-animation-name: example4;
          animation-name: example4;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes example4 {
  0% {
    margin-top: 300px;
  }
  100% {
    margin-top: 800px;
  }
}

@keyframes example4 {
  0% {
    margin-top: 300px;
  }
  100% {
    margin-top: 800px;
  }
}

.list {
  width: 1024px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
  position: relative;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.list::-webkit-scrollbar {
  width: 0px;
}

.list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.list::-webkit-scrollbar-thumb {
  background: #888;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 1500px) {
  .list {
    width: 900px;
  }
}

@media (max-width: 1200px) {
  .list {
    width: 700px;
  }
}

.list__item {
  width: 100%;
  max-width: 100%;
  padding: 40px;
  border: 2px solid transparent;
  margin-top: 50px;
}

.list__item--cover {
  width: 100%;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-image: linear-gradient(152deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.02) 99%);
}

.list__item:nth-of-type(1) {
  max-width: 440px;
}

@media (max-width: 1200px) {
  .list__item:nth-of-type(1) {
    max-width: 340px;
  }
}

.list__item:nth-of-type(1) .list__item--cover {
  height: 700px;
}

.list__item:nth-of-type(2) {
  margin-top: 300px;
  max-width: 440px;
}

@media (max-width: 1200px) {
  .list__item:nth-of-type(2) {
    max-width: 340px;
  }
}

.list__item:nth-of-type(2) .list__item--cover {
  height: 700px;
}

.list__item:hover {
  border-radius: 4px;
  border: solid 2px #bcaaf5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.02)), color-stop(99%, rgba(254, 194, 199, 0.1)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(254, 194, 199, 0.1) 99%);
}

.list__item--cat {
  color: #b4b4b4;
  font-size: 14px;
  text-align: end;
  font-family: 'PPMori-Regular';
  letter-spacing: -0.01px;
}

.list__item--number {
  position: absolute;
  top: -25px;
  left: 15px;
  color: #fff;
  font-size: 64px;
  font-family: 'vf';
  font-weight: 300;
  letter-spacing: -0.03px;
}

.list__item--img {
  max-width: 100%;
  max-height: 100%;
}

.list__item--title {
  margin-top: 20px;
  color: #fff;
  font-size: 48px;
  font-family: 'PPMori-Regular';
  letter-spacing: 0.4px;
}

.list__item--desc {
  margin-top: 5px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 14px;
  font-family: 'PPMori-SemiBold';
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: -0.01px;
}

.list__item--link {
  width: 0px;
  height: 15px;
  display: block;
  color: #fff;
  font-size: 16px;
  font-family: 'PPMori-RegularItalic';
  font-style: italic;
  letter-spacing: 0.13px;
  overflow: hidden;
}

.list__item:hover .list__item--link {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */