* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

@font-face {
  font-family: 'vf';
  src: url(../fonts/Thunder-BlackLC.ttf);
}

html {
  font-size: 16px;
}

@media (max-width: 2000px) {
  html {
    font-size: 11px;
  }
}

body {
  background-color: #cecece;
  background-image: url(../img/bg/BG_Blue.jpg);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.load {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.load__item {
  width: 10px;
  height: 80px;
  margin: 20px;
  border-radius: 5px;
  background: #fff;
  -webkit-animation: animate 1.4s linear infinite;
          animation: animate 1.4s linear infinite;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.load__item :nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.load__item :nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.load__item :nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.load__item :nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.load__item :nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.load__item :nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.load__item :nth-child(7) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px) scale(1);
            transform: translateX(-50px) scale(1);
  }
  50% {
    -webkit-box-shadow: 0 0 5px black;
            box-shadow: 0 0 5px black;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px) scale(1);
            transform: translateX(-50px) scale(1);
  }
  50% {
    -webkit-box-shadow: 0 0 5px black;
            box-shadow: 0 0 5px black;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
}

.main {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second .avatar {
  position: absolute;
  z-index: -1;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second-close {
  margin-top: 180px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 52px;
  color: #fff;
}

.avatar {
  width: 100%;
  height: 100%;
  position: absolute;
}

.avatar__cover {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
}

.avatar__cover.active {
  display: block;
}

.menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 200px;
}

.menu__item {
  list-style: none;
}

.menu__item--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.menu__item--text {
  color: #fff;
  font-size: 238px;
  font-weight: 900;
  font-family: 'vf';
  font-style: normal;
  font-weight: 700;
  position: relative;
  line-height: 170px;
}

.menu__item--text span {
  display: none;
}

.glitch {
  text-transform: uppercase;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  -webkit-animation: glitch 725ms infinite;
          animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.glitch span:first-child {
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
          clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  -webkit-transform: translate(-0.04em, -0.03em);
          transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  -webkit-animation: glitch 375ms infinite;
          animation: glitch 375ms infinite;
  -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
          clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  -webkit-transform: translate(0.04em, 0.03em);
          transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
  }
}

.second {
  display: none;
}

.list {
  width: 1024px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.list::-webkit-scrollbar {
  width: 0px;
}

.list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.list::-webkit-scrollbar-thumb {
  background: #888;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 1500px) {
  .list {
    width: 900px;
  }
}

@media (max-width: 1200px) {
  .list {
    width: 700px;
  }
}

.list__item {
  width: 100%;
  max-width: 100%;
  padding: 35px;
  border: 1px solid transparent;
}

.list__item--cover {
  width: 100%;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.list__item:nth-of-type(1) {
  max-width: 440px;
}

@media (max-width: 1200px) {
  .list__item:nth-of-type(1) {
    max-width: 340px;
  }
}

.list__item:nth-of-type(1) .list__item--cover {
  height: 700px;
}

.list__item:nth-of-type(2) {
  margin-top: 300px;
  max-width: 440px;
}

@media (max-width: 1200px) {
  .list__item:nth-of-type(2) {
    max-width: 340px;
  }
}

.list__item:nth-of-type(2) .list__item--cover {
  height: 700px;
}

.list__item:hover {
  border: 1px solid #212121;
}

.list__item--cat {
  text-align: end;
  color: #fff;
  font-size: 18px;
}

.list__item--number {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 42px;
  color: #000;
}

.list__item--img {
  max-width: 100%;
  max-height: 100%;
}

.list__item--title {
  font-size: 42px;
  color: #fff;
}

.list__item--desc {
  color: #fff;
}

.list__item--link {
  color: #000;
}
/*# sourceMappingURL=style.css.map */