.second {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    align-items: flex-start;

    &--title {
        width: 100%;
        z-index: -1;
        position: absolute;
        font-family: 'vf';
        font-size: 350px;
        color: #fff;
        opacity: .5;
        text-align: center;
    }
    
    &.active {
        display: flex;
    }
    
    &__avatar {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 1s;
        left: -100px;

        &.active {
            left: -300px;
            filter: blur(6px);
        }
        
        &--cover {
            height: 100%;
            position: absolute;
            object-fit: cover;
            bottom: 0;
            left: 0;
            display: none;

            &.active {
                display: block;
            }

            @media (max-width: 1600px) {
                left: -100px;
            }
            @media (max-width: 1500px) {
                left: -300px;
            }
            @media (max-width: 1200px) {
                left: -400px;
            }
            @media (max-width: 1024px) {
                left: -165px;
                height: 76%;
            }
        }
    }

    &.post-animation-on {
        .list{
            &__item {
                animation-name: example1;
                animation-duration: 1s;

                @keyframes example1 {
                    0%   {margin-top: 800px;}
                    100% {margin-top: 50px;}
                }

                &:nth-of-type(2){
                    animation-name: example2;
                    animation-duration: 2s;

                    @keyframes example2 {
                        0%   {margin-top: 800px;}
                        100% {margin-top: 300px;}
                    }
                }
            }
        }
    }

    &.post-animation-off {
        .list{
            &__item {
                animation-name: example3;
                animation-duration: 1s;
    
                @keyframes example3 {
                    0%   {margin-top: 50px;}
                    100% {margin-top: 800px;}
                }
    
                &:nth-of-type(2){
                    animation-name: example4;
                    animation-duration: 2s;
    
                    @keyframes example4 {
                        0%   {margin-top: 300px;}
                        100% {margin-top: 800px;}
                    }
                }
            }
        }
    }
}

.list {
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    align-items: flex-start;
    padding-top: 50px;
    position: relative;

    /* width */
    &::-webkit-scrollbar {
        width: 0px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    @media (max-width:1500px) {
        width: 900px;
    }

    @media (max-width:1200px) {
        width: 700px;
    }


    &__item {
        width: 100%;
        max-width: 100%;
        padding: 40px;
        border: 2px solid transparent;
        margin-top: 50px;

        &--cover {
            width: 100%;
            height: 400px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            backdrop-filter: blur(3px);
            background-image: linear-gradient(152deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.02) 99%);
        }

        &:nth-of-type(1) {
            max-width: 440px;

            @media (max-width:1200px) {
                max-width: 340px;
            }

            .list__item--cover{
                height: 700px;
            }
        }

        &:nth-of-type(2){
            margin-top: 300px;
            max-width: 440px;

            @media (max-width:1200px) {
                max-width: 340px;
            }

            .list__item--cover{
                height: 700px;
            }
        }
        
        &:hover {
            border-radius: 4px;
            border: solid 2px #bcaaf5;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(254, 194, 199, 0.1) 99%);
        }

        &--cat {
            color: #b4b4b4;
            font-size: 14px;
            text-align: end;
            font-family: 'PPMori-Regular';
            letter-spacing: -0.01px;
        }

        &--number {
            position: absolute;
            top: -25px;
            left: 15px;
            color: #fff;
            font-size: 64px;
            font-family: 'vf';
            font-weight: 300;
            letter-spacing: -0.03px;
        }

        &--img {
            max-width: 100%;
            max-height: 100%;
        }

        &--title {
            margin-top: 20px;
            color: #fff;
            font-size: 48px;
            font-family: 'PPMori-Regular';
            letter-spacing: 0.4px;
        }

        &--desc {
            margin-top: 5px;
            margin-bottom: 30px;
            color: #fff;
            font-size: 14px;
            font-family: 'PPMori-SemiBold';
            font-weight: 600;
            line-height: 1.43;
            letter-spacing: -0.01px;
        }

        &--link {
            width: 0px;
            height: 15px;
            display: block;
            color: #fff;
            font-size: 16px;
            font-family: 'PPMori-RegularItalic';
            font-style: italic;
            letter-spacing: 0.13px;
            overflow: hidden;
        }

        &:hover &{
            &--link {
                width: 100%;
            }
        }

    }
}