.animation-avatar {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    left: 0;

    &.active {
        z-index: 1;
    }

    &__cover {
        // დამატებული
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        bottom: 0;
        // left: -100px;
        display: none;


        &.active {
            display: block;
        }

        // @media (max-width: 1600px) {
        //     left: -60px;
        // }
        // @media (max-width: 1500px) {
        //     left: -120px;
        // }
        // @media (max-width: 1200px) {
        //     left: -260px;
        // }
        // @media (max-width: 1024px) {
        //     left: -165px;
        //     height: 76%;
        // }
    }
}

.work-page__avatar {
    &.active {
        left: -300px;
        filter: blur(6px);
    }
}

.about-page__avatar {
    &.active {
        left: 0;
    }
}

.second {
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: space-between;
    // justify-content: center;
    justify-content: flex-end;
    align-items: flex-start;

    &--title {
        width: 100%;
        z-index: -1;
        position: absolute;
        font-family: 'vf';
        font-size: 350px;
        color: #fff;
        opacity: .5;
        text-align: center;
    }

    &.post-animation-on {
        .list{
            &__item {
                animation-name: example1;
                animation-duration: 1s;

                @keyframes example1 {
                    0%   {margin-top: 800px;}
                    100% {margin-top: 50px;}
                }

                &:nth-of-type(2){
                    animation-name: example2;
                    animation-duration: 2s;

                    @keyframes example2 {
                        0%   {margin-top: 800px;}
                        100% {margin-top: 300px;}
                    }
                }
            }
        }
    }

    &.post-animation-off {
        .list{
            &__item {
                animation-name: example3;
                animation-duration: 1s;
    
                @keyframes example3 {
                    0%   {margin-top: 50px;}
                    100% {margin-top: 800px;}
                }
    
                &:nth-of-type(2){
                    animation-name: example4;
                    animation-duration: 2s;
    
                    @keyframes example4 {
                        0%   {margin-top: 300px;}
                        100% {margin-top: 800px;}
                    }
                }
            }
        }
    }
}

.list {
    padding-bottom: 150px;
    width: 820px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    align-items: flex-start;
    padding-top: 50px;
    position: relative;

    /* width */
    &::-webkit-scrollbar {
        width: 0px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    @media (max-width:1500px) {
        width: 800px;
    }

    @media (max-width:1200px) {
        width: 800px;
    }


    &__item {
        display: block;

        &--out {
            width: 100%;
            overflow: hidden;

            &.vertical {
                max-width: 380px;

                @media (max-width:1024px) {
                    max-width: 100%;
                }

                .list__item {
                    width: 100%;
        
                    @media (max-width:1200px) {
                        max-width: 340px;
                    }

                    @media (max-width:1024px) {
                        max-width: 100%;
                    }
                    
                    &--cover{
                        height: 580px;

                        @media (max-width:1024px) {
                            height: 400px;
                        }
                    }
                
                }
            }
        }

        width: 100%;
        max-width: 100%;
        padding: 40px;
        border: 2px solid transparent;
        margin-top: 50px;

        &--cover {
            width: 100%;
            height: 400px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            backdrop-filter: blur(3px);
            background-image: linear-gradient(152deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.02) 99%);
        }
        
        &:hover {
            border-radius: 4px;
            border: solid 2px #bcaaf5;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(254, 194, 199, 0.1) 99%);
        }

        &--cat {
            color: #b4b4b4;
            font-size: 14px;
            text-align: end;
            font-family: 'PPNeue-Book';
            letter-spacing: -0.01px;
        }

        &--number {
            position: absolute;
            top: -25px;
            left: 15px;
            color: #fff;
            font-size: 64px;
            font-family: 'PPNeue-Thin';
            font-weight: 300;
            letter-spacing: -0.03px;
        }

        &--img {
            max-width: 100%;
            max-height: 100%;
        }

        &--title {
            margin-top: 20px;
            color: #fff;
            font-size: 48px;
            font-family: 'PPNeue-Book';
            letter-spacing: 0.4px;
        }

        &--desc {
            margin-top: 5px;
            margin-bottom: 30px;
            color: #fff;
            font-size: 14px;
            font-family: 'PPNeue-Book';
            font-weight: 600;
            line-height: 1.43;
            letter-spacing: -0.01px;
        }

        &--link {
            width: 0px;
            height: 19px;
            display: block;
            color: #fff;
            font-size: 16px;
            font-family: 'PPNeue-Italic';
            // font-style: italic;
            letter-spacing: 0.13px;
            overflow: hidden;
        }

        &:hover &{
            &--link {
                width: 100%;
            }
        }

    }
}

.vertical:nth-of-type(even){
    margin-top: 390px;

    @media (max-width:1024px) {
        margin-top: 0;
    }
}

.vertical:nth-of-type(2){
    margin-top: 0;

    @media (max-width:1024px) {
        margin-top: 0;
    }
}

.vertical:nth-of-type(3){
    margin-top: 390px;

    @media (max-width:1024px) {
        margin-top: 0;
    }
}


.page {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    overflow: auto;

    &.active {
        display: block;
        z-index: 2;
    }
}


.about-page {
    overflow: hidden;

    &--desc {
        width: 100%;
        margin: 370px 0 50px 0;
        line-height: 1.09;
        letter-spacing: 0.37px;
        
        p {
            font-size: 62px;
            font-family: 'PPNeue-Book';
            color: #fff;
            max-width: 90%;
            margin: auto;

            @media (max-width: 1300px) and  (min-width: 1024px){
                font-size: 50px;
            }

            @media (max-height: 850px){
                font-size: 50px;
            }
        }
    }

    &__footer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;

        &--email {
            margin-right: 100px;
        }

        &--slider {
            animation: marqueeLine 7s linear infinite;
        }

        &:hover {

            .about-page__footer--slider {
                animation-play-state: paused;
            }
        }
    }
}

.contact-page {
    overflow: hidden;

    &--content {
        // margin-top: 280px;
        margin-top: 360px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1024px) {
            margin-top: 260px;
        }
    }
    &__title {
        padding: 0 75px 31px 75px;
        border-bottom: 2px solid #fff;
        font-family: 'PPNeue-Book';
        font-size: 172px;
        // line-height: 0.2;
        letter-spacing: 1.97px;
        color: #fff;
        text-align: center;

        @media (max-width: 1200px) {
            font-size: 136px;
            padding: 0 0 31px 0;
        }

        @media (max-width: 1024px) {
            font-size: 100px;
            padding: 0 0 31px 0;
        }
    }

    &__desc {
        width: 100%;
        max-width: 832px;
        margin: 40px auto 0 auto;
        font-family: 'PPNeue-Book';
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: 0.28px;
        text-align: center;
        color: #fff;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        right: 50px;
        bottom: 50px;

        @media (max-width: 1024px) {
            bottom: 100px;
        }

        &--email {
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.77px;
            color: #fff;
            font-family: 'PPNeue-Book';
            position: absolute;
            bottom: 50px;
            left: 50px;
            z-index: 2;
        }

        &--right {
            display: flex;
            align-items: center;
        }

        &--soc {
            margin-left: 50px;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.01px;
            color: #fff;
            font-family: 'PPNeue-Book';
            display: flex;
            align-items: center;

            img {
                margin-right: 12px;
            }
        }
    }

    .contact-soc {
        position: absolute;
        right: 0;
        bottom: 50px;
        display: flex;

        a {
            margin-right: 50px;
            display: flex;
            align-items: flex-end;
            font-size: 32px;
            line-height: 19px;
            color: #4b18ef;
            text-decoration: none;
            list-style: disc;
            position: relative;
            font-family: 'PPMori-Extralight';
            font-weight: 700;
            
            svg {
                margin-left: 15px;
            }

            &::before {
                content: "";
                width: 4px;
                height: 4px;
                border: solid 1px #4b18ef;
                border-radius: 50%;
                margin-right: 10px;
            }

            &:hover {
                color: #bcaaf5;

                & svg {
                    g {
                        fill: #bcaaf5;
                    }
                }

                &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    border: solid 1px #bcaaf5;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }

    .date {
        top: 100px;
        right: 50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        &__text {
            color: #fff;
            font-size: 32px;
            font-family: 'PPNeue-Book';
            display: flex;
            justify-content: flex-end;
        }
    
        &__city {
            font-size: 16px;
            margin-bottom: 2px;
        }
    }
}

.slider {
    &__item {
        writing-mode: vertical-lr;
        transition: .4s;

        &--title {
            padding: 18px;
            font-size: 26px;
            font-family: 'PPNeue-Book';
            color: #fff;
            line-height: 1.09;
            letter-spacing: 0.37px;
            margin-bottom: 14px;
            word-break: break-all;
        }
    }
}

@keyframes marqueeLine {
    from {
      transform: translateY(0);
    }
    
    to {
      transform: translateY(-100%);
    }
}