* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

@font-face {
    font-family: 'vf';
    src: url(../fonts/Thunder-BlackLC.ttf);
}

html {
    font-size: 16px;

    @media (max-width: 2000px) {
        font-size: 11px;
    }
}

body {
    background-color: #cecece;
    background-image: url(../img/bg/BG_Blue.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.load {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &__item {
        width: 10px;
        height: 80px;
        margin: 20px;
        border-radius: 5px;
        background: #fff;
        animation: animate 1.4s linear infinite; 
        box-shadow: 0 0 0 rgba(0,0,0, 1);

        :nth-child(1) {
            animation-delay: 0s;
        }
        :nth-child(2) {
            animation-delay: 0.2s;
        }
        :nth-child(3) {
            animation-delay: 0.4s;
        }
        :nth-child(4) {
            animation-delay: 0.6s;
        }
        :nth-child(5) {
            animation-delay: 0.8s;
        }
        :nth-child(6) {
            animation-delay: 1s;
        }
        :nth-child(7) {
            animation-delay: 1.2s;
        }
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }

    50% {
        box-shadow: 0 0 5px rgba(0,0,0,1);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    
    &__img {
        position: absolute;
        object-fit: cover;
        bottom: 0;
        left: 0;

        @media (max-width: 1600px) {
            left: -100px;
        }
        @media (max-width: 1500px) {
            left: -300px;
        }
        @media (max-width: 1200px) {
            left: -400px;
        }
    }

}

.main {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    align-items: flex-start;
    justify-content: end;
    
    &.active {
        display: flex;
    }
}

.second {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    align-items: flex-start;

    &.active {
        display: flex;
    }

    .avatar {
        position: absolute;
        z-index: -1;
    }
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.second-close {
    margin-top: 180px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 52px;
    color: #fff;
}